<html>
  <head>
    <title>Cycling</title>
	  <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://code.angularjs.org/tools/system.js"></script>
    <script src="{% static 'systemjs.config.js' %}"></script>
    <script>
      System.import("{% static 'app' %}").catch(function(err){ console.error(err); });
    </script>
  </head>
  <body>
    <my-app>Loading...</my-app>
  </body>
</html>
